@page "/features"

<div class="bg-gradient-to-b from-[#006B6B] to-[#e9efef]">
    @* Header *@
    <div class="px-6 py-3 text-white flex items-center justify-between bg-[#006B6B]">
        <img src="Images/logo.png" alt="logo" class="h-12" />
        <div class="text-bold text-md space-x-12">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/contact">Contact Us</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>

    @* Features Header *@
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-center">
            <h1 class="text-white text-4xl font-extrabold sm:text-5xl">
                Powerful Features for Your Financial Journey
            </h1>
            <p class="mt-4 text-xl text-[#e9efef]">
                Everything you need to take control of your expenses and achieve your financial goals.
            </p>
        </div>
    </div>

    @* Features Grid *@
    <div class="px-4 pb-24 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="gap-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/tag.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Customizable Tags</h3>
                    <p class="text-gray-600">Create and customize expense categories with tags. </p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/note.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Smart Notes</h3>
                    <p class="text-gray-600">Add detailed notes to your transactions and keep track of important information.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/dashboard.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Interactive Dashboard</h3>
                    <p class="text-gray-600">Visualize your financial health with interactive charts and graphs. Get insights at a glance with our intuitive dashboard.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/debt.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Debt Tracker</h3>
                    <p class="text-gray-600">Monitor your debts and loans in one place.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/wallet.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Income & Expense Tracking</h3>
                    <p class="text-gray-600">Track both income and expenses.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/export.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Data Export</h3>
                    <p class="text-gray-600">Export your transactional and debt related data in Excel format.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/search.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Advanced Search</h3>
                    <p class="text-gray-600">Powerful search functionality with filters for dates, categories, amounts, and tags. Find any transaction instantly.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/filter.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Filters</h3>
                    <p class="text-gray-600">Filter your data through multiple criteria simultaneously.</p>
                </div>
            </div>

            <div class="bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="p-6">
                    <div class="h-12 w-12 text-white mb-4 flex items-center justify-center rounded-md bg-[#006B6B]">
                        <img src="Images/debt.svg" alt="money" class="h-6 w-6" />
                    </div>
                    <h3 class="text-gray-900 mb-2 text-xl font-bold">Filters</h3>
                    <p class="text-gray-600">Filter your data through multiple criteria simultaneously.</p>
                </div>
            </div>

            
        </div>
    </div>

    @* Footer *@
    <footer class="text-white bg-[#006B6B]">
        <div class="py-12 mx-auto sm:px-6 lg:px-8">
            <div class="gap-8 grid grid-cols-1 md:grid-cols-4">
                <div class="space-y-2 col-span-1">

                    <img src="Images/logo.png" alt="logo" class="h-16" />
                    <h3 class="mb-2 text-xl font-bold">P.E.T.</h3>
                    <p class="text-gray-300 text-sm">
                        Your trusted companion for expense tracking and financial management.
                    </p>
                    <p class="text-gray-300 text-sm">&copy; 2025 P.E.T. All rights reserved.</p>
                </div>
                <div>
                    <h3 class="mb-4 text-lg font-semibold">Quick Links</h3>
                    <ul class="space-y-2">
                        <li><a href="/" class="text-gray-300 hover:text-white">Home</a></li>
                        <li><a href="/features" class="text-gray-300 hover:text-white">Features</a></li>
                        <li><a href="/contact" class="text-gray-300 hover:text-white">Contact</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-4 text-lg font-semibold">Legal</h3>
                    <ul class="space-y-2">
                        <li><a href="/privacy" class="text-gray-300 hover:text-white">Privacy Policy</a></li>
                        <li><a href="/terms" class="text-gray-300 hover:text-white">Terms of Service</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-4 text-lg font-semibold">Connect</h3>
                    <div class="space-x-4 flex">
                        <a href="#">
                            <img src="Images/FB.png" alt="link" class="h-6 w-6" />
                        </a>
                        <a href="#">
                            <img src="Images/X.png" alt="link" class="h-6 w-6" />
                        </a>
                        <a href="#">
                            <img src="Images/instagram.png" alt="link" class="h-6 w-6" />
                        </a>
                        <a href="#">
                            <img src="Images/uiw_linkedin.png" alt="link" class="h-6 w-6" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
