@page "/"

<h3>Home</h3>

<div class="bg-blue-600 px-6 py-4 text-white flex items-center justify-between">
    @* App Name *@
    <h1 class="text-xl font-bold">P.E.T.</h1>

    @* Username *@
    <div class="text-bold text-sm">

            <a href="/">Home</a>
        @* <li><a href="/features">Features</a></li> *@
        @* <li><a href="/contact">Contact Us</a></li> *@
            <a href="/register">Register</a>
            <a href="/login">Login</a>

    </div>
</div>

@code {

}
