@using PET.Models
@using PET.Services
@using PET.Helper

@inject PageTitleService PageTitleService
@inject PreferencesStoreClone Storage
@inject MapUser MapUser

<div class="bg-white px-6 py-3 flex items-center justify-between border-b-2 border-[#006B6B]">
    <h1 class="text-2xl font-bold">@PageTitleService.PageTitle</h1>

    <div class="text-md font-bold">Welcome, @userName</div>
</div>

@code {
    string userName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserAsync();

        // Storage changes
        Storage.OnChange += async () =>
        {
            await LoadUserAsync();
            StateHasChanged();
        };

        PageTitleService.OnPageTitleChanged += StateHasChanged;
    }

    private async Task LoadUserAsync()
    {
        var loggedInUser = await MapUser.GetUserByUsernameAsync(Storage);
        userName = loggedInUser?.UserName ?? "Guest";
    }

    public void Dispose()
    {
        Storage.OnChange -= async () => await LoadUserAsync();
        PageTitleService.OnPageTitleChanged -= StateHasChanged;
    }
}
