@using PET.Models
@using PET.Interfaces
@using PET.Services
@using Blazored.Toast.Services

@inject IToastService ToastService
@inject IUser UserService
@inject NavigationManager Navigation

<div class="w-64 bg-blue-400 text-white flex h-screen flex-col">
    @* Logo and App Name *@
    <div class="border-blue-500 p-6 border-b text-center">
        <div class="text-2xl font-bold">P.E.T.</div>
        <p class="text-sm">Purrfect Expense Tracker</p>
    </div>

    @* Navigation Links *@
    <nav class="p-4 flex-1">
        <NavLink href="/" class="px-4 py-2 block rounded hover:bg-blue-500" activeClass="bg-blue-700">Home</NavLink>
        <NavLink href="/register" class="px-4 py-2 block rounded hover:bg-blue-500" activeClass="bg-blue-700">Registration</NavLink>
        <NavLink href="/login" class="px-4 py-2 block rounded hover:bg-blue-500" activeClass="bg-blue-700">Login</NavLink>
        <NavLink href="/dashboard" class="px-4 py-2 block rounded hover:bg-blue-500" activeClass="bg-blue-700">Dashboard</NavLink>
        <NavLink href="/transaction" class="px-4 py-2 block rounded hover:bg-blue-500" activeClass="bg-blue-700">Transaction</NavLink>
        <NavLink href="/profile" class="px-4 py-2 block rounded hover:bg-blue-500" activeClass="bg-blue-700">User Profile</NavLink>
    </nav>

    @* Sign Out *@
    <button @onclick="Logout" class="m-4 bg-blue-500 px-4 py-2 rounded hover:bg-red-500">
        Sign Out
    </button>
</div>

@code {
    private async Task Logout()
    {
        ToastService.ShowSuccess("Logged out successfully!");
        await Task.Delay(500);
        Navigation.NavigateTo("/login");
    }
}