@using PET.Models
@using PET.Interfaces
@using PET.Services
@using Blazored.Toast.Services

@using PET.Helper

@inject PreferencesStoreClone Storage
@inject IToastService ToastService
@inject IUser UserService
@inject NavigationManager Navigation

<div class="top-0 left-0 w-52 text-white flex h-screen flex-col bg-[#006B6B] font-bold">
    @* Logo and App Name *@
    <div class="my-4 border-b border-[#006B6B] text-center">
        <img src="Images/logo.png" alt="logo" class="h-20 mx-auto" />
        <div class="text-xl font-bold">P.E.T.</div>
        <p class="text-sm">Purrfect Expense Tracker</p>
    </div>

    @* Navigation Links *@
    <nav class="p-4 text-white space-y-2 flex-1">
        <NavLink href="/dashboard" class="p-2 space-x-2 flex items-center rounded hover:bg-[#3A8C8C] hover:text-white" activeClass="text-white bg-[#3A8C8C] shadow-md">
            <img src="Images/dashboard.svg" alt="dashboard" class="h-5" >
            <span>Dashboard</span>
        </NavLink>
        <NavLink href="/transaction" class="p-2 space-x-2 flex items-center rounded hover:bg-[#3A8C8C] hover:text-white" activeClass="text-white bg-[#3A8C8C] shadow-md">
            <img src="Images/wallet.svg" alt="transaction" class="h-5" />
            <span>Transaction</span>
        </NavLink>
        <NavLink href="/debt" class="p-2 space-x-2 flex items-center rounded hover:bg-[#3A8C8C] hover:text-white" activeClass="text-white bg-[#3A8C8C] shadow-md">
            <img src="Images/debt.svg" alt="debt" class="h-5" />
            <span>Debt</span>
        </NavLink>
        <NavLink href="/profile" class="p-2 space-x-2 flex items-center rounded hover:bg-[#3A8C8C] hover:text-white" activeClass="text-white bg-[#3A8C8C] shadow-md">
            <img src="Images/user.svg" alt="user" class="h-5" />
            <span>Profile</span>
        </NavLink>
    </nav>

    @* Sign Out *@
    <div class="p-4 mt-auto">
        <button @onclick="Logout" class="bg-red-500 p-2 mx-auto flex w-full justify-center rounded-md shadow-md">
            Sign Out
        </button>
    </div>
</div>

@code {
    private async Task Logout()
    {
        Storage.ClearAll();
        ToastService.ShowSuccess("Logged out successfully!");
        await Task.Delay(500);
        Navigation.NavigateTo("/login");
    }
}